@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('./icons.css');

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 8px;
  background: #282828;
}

.logo-wrapper, .search-wrapper, .actions-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  justify-content: flex-start;
}

.logo-wrapper img {
  width: 80px;
  margin-left: 16px;
}

.search-wrapper {
  height: 32px;
}

.search-wrapper input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: 1px solid #606060;
  background: #121212;
}

.search-wrapper input::placeholder {
  font-size: 16px;
  color: #606060;
}

.search-wrapper button {
  width: 75px;
  height: 100%;
  background: #393939;
}

.search-wrapper button i{
  opacity: 0.3;
}

.search-wrapper button:hover i {
  opacity: 0.5;
}

.actions-wrapper {
  justify-content: flex-end;
}

.acitons-wrapper i {
  margin-left: 16px;
}

.actions-wrapper img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 16px;
}

.cover img {
  width: 100%;
  height: calc(100vw / 6.2 - 1px);
  object-fit: cover;
}